{%load static%}

<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <a href="/">
            <div>
                <i class="bx bx-share logo-icon text-love"></i>
            </div>
        </a>
            <div>
                <h4 class="logo-text">ShareMe</h4>
            </div>
        
        
        <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
        </div>
    </div>
    
    <ul class="metismenu" id="menu">
        <li class="menu-label">Options</li>
        <li>
            <a href="/">
                <div class="parent-icon"><i class="bx bx-home-heart"></i>
                </div>
                <div class="menu-title">Chercher un fichier</div>
            </a>
        </li>
        <li>
            <a href="/load">
                <div class="parent-icon"><i class="bx bx-category"></i>
                </div>
                <div class="menu-title">Partager un fichier</div>
            </a>
        </li>
        
    </ul>
</div>